:root{
    --background-light: #f8f9fa;
    --background-dark: #e9ecef;
    --sidebar-text: #060607;
    --white: #ffffff;

}



.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background-light);
    overflow-y: auto; 
}

.pag-info{
    display: flex;
    color: var(--sidebar-text);
}


.main-header {
    background: var(--white);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--background-dark);
}

.main-header h1 { font-size: 1.5rem; font-weight: 500; }

.user-info { display: flex; align-items: center; gap: 1rem; }
.user-info i { font-size: 1.8rem;}